$font-stack: Arial, Helvetica, sans-serif;
$navbar-color: white;

// Sunset Colors
$sunset-teal: #6CC2BD;
$sunset-blue: #5A809E;
$sunset-purple: #7C79A2;
$sunset-red: #f57d7c;
$sunset-orange: #FFC1A6;
$sunset-tan: #FEE4C4;