@import "config";

.footer {
  bottom: 0;
  width: 100vw;
  height: 115px;
  margin: 0 auto;
  background-color: $navbar-color;

  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;

  &-address {
    order: 1;
  }

  &-copy {
    flex-direction: column;
    order: 2;
    width: fit-content;

    svg {
      width: 48px;
      flex-direction: row;
    }
  }

  &-social {
    order: 3
  }
}
