@import "config";

.footer {
  bottom: 0;
  width: 100vw;
  height: 115px;
  margin: 0 auto;
  background-color: $navbar-color;
  display: flex;
  align-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  justify-content: space-between;


  &-address {
    order: 1;
    margin: 10px;
    border: green 3px dashed;
    width: 320px;
  }

  &-copy {
    order: 2;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: green 3px dashed;
    width: 320px;

    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    svg {
      width: 48px;
      padding: 5px;
    }

  }

  &-social {
    order: 3;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px;

    border: green 3px dashed;
    width: 320px;
  }
}
