@import "config";
*{
  //overflow: hidden;
}

.home {

  &-background {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
    margin-bottom: 50vh;

  &-button {
    width: 10px;
    height: 10px;
    z-index: 30;
    position: relative;
  }
  }



  &-text {
    height: 200px;
    background: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.47);
  }
}

.bannerContainer {


}

.bannerBg {
  background: #fff;
}

.parallaxChildren {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  h1 {
    color: white;
    font-size: 4vw;
    font-weight: normal;
  }
}

.parallaxOuterBox {
  width: 120vh;
  height: 70vh;
}

.BOX {
  width: 100%;
  height: 500px;
  background-color: RED;
  z-index: 50;
  position: relative;
}

.parallaxImage {
  height: 65vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

  .parallaxContent {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    padding: 10px;
  }

@media (min-width: 650px ) {
  .parallaxImage {
    background-position: center center;
  }
}

.heroButton {
  background-color: lighten($navbar-color,0.9);
  padding: 10px;
  margin: 120px;
  border-radius: 2px;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transform: scale(1);
  border: none;

  &:active {
    background-color: $navbar-color;
    transform: scale(0.90);
    border: none;
  }
  &:hover {
    transform: scale(0.95);
    border: none;
  }
  &:focus {}
  border: none;
}

.productPreview {
  width: 250px;
  height: 250px;
  border: 2px solid #1C6EA4;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;
  &-img {
    width: 100%;
    height: auto;
  }
}

.recommended {
  &-text {
    width: 100%;
  }
  &-products {
    display: flex;
    justify-content: space-around;
  }
}


.contact {

}