@import "config";

.home {

  &-background {
    height: 100vh;
  }

  &-text {
    height: 200px;
    background: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.47);
  }
}