@import "config";

.nav {
  height: 50px;
  display: flex;
  border: none;
  background: $navbar-color;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,1);
  position: relative;
  z-index: 25;
  overflow: hidden;
;

  &-text {
    @extend .nav;
    position: relative;
    align-items: center;
    font-family: 'Gamja Flower', cursive;
    font-size: 3.5rem;
    z-index: 25;
  }

  &-menu {
    @extend .nav;
    flex: 2;
    order: 1;
  }

  &-button {
    border: none;
    outline-style: none;
    background-color: $navbar-color;
    box-shadow: none;
    margin: 0 5px 0 5px;
    z-index: 26;
  }

/*  &-button:hover {
    @extend .nav-button;

  }

  &-button:active {
    @extend .nav-button;

  }*/

  &-search {
    @extend .nav;
    order: 2;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    flex: 3;

    &-bar {
      display: flex;
      flex: 1;
      width: 100%;
      margin: 7px 0;
      padding: 10px;
      background-color: $input-box-color;
      border: 2px solid lighten($sunset-teal, 20);
      border-radius: 15px 0 0 15px;
      box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
      font-family: 'Roboto', sans-serif;
    }

    &-bar:focus {
      @extend .nav-search-bar;
      outline: 0;
      border: 2px solid $sunset-teal;
      font-family: 'Roboto', sans-serif;
    }

    &-button {
      margin: 7px 0;
      background-color: $input-box-color;
      border: 2px solid lighten($sunset-teal, 20);
      border-radius: 0 15px 15px 0;
      border-left: none;
      box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
      svg {
        justify-content: center;
        align-content: center;
        width: 32px;
        height: auto;
        margin-right: 5px;
      }
    }
    &-button:focus {
      @extend .nav-search-button;
      outline: 0;
      border: 2px solid $sunset-teal;
    }

  }

  &-cart {
    @extend .nav;
    flex: 2;
    order: 3;
    justify-content: flex-end;
    align-content: flex-end;


    &-amount {
      height: 25px;
      width: 25px;
      background-color: transparentize($sunset-teal, 0.25);
      border-radius: 50%;
      padding: 5px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.navMenu {
  background-color:  white;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 26;

}