@import "config";

.nav {
  height: 50px;
  display: flex;
  border: none;
  background: $navbar-color;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,1);

  &-text {
    @extend .nav;
    align-items: center;
    font-family: 'Gamja Flower', cursive; //TODO: Change this damn font
  }

  &-menu {
    @extend .nav;
    flex: 2;
    order: 1;
  }

  &-button {
    @extend .nav;
    border: none;
    outline-style: none;
    background-color: $navbar-color;
    box-shadow: none;
    transform: scale(0.90);
    margin: 0 5px 0 5px;
  }

  &-button:hover {
    @extend .nav-button;
    transform: scale(0.85);
  }

  &-button:active {
    @extend .nav-button;
    transform: scale(0.80);
  }

  &-search {
    @extend .nav;
    order: 2;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    flex: 3;

    &-bar {
      display: flex;
      flex: 1;
      width: 100%;
      margin: 7px;
      padding: 10px;
      background-color: $input-box-color;
      border: 2px solid lighten($sunset-teal, 20);
      border-radius: 15px 0 0 15px;
      box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);

    }

    &-bar:focus {
      @extend .nav-search-bar;
      outline: 0;
      border: 2px solid $sunset-teal;
    }

  }

  &-cart {
    @extend .nav;
    flex: 2;
    order: 3;
    justify-content: flex-end;
    align-content: flex-end;

    &-amount {
      height: 25px;
      width: 25px;
      background-color: transparentize($sunset-teal, 0.25);
      border-radius: 50%;
      padding: 5px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}