@import "config";

.nav {
  height: auto;
  width: 100%;
  display: flex;
  border: none;
  background: $navbar-color;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,1);
  overflow: hidden;

  &-title {
    position: relative;
    align-items: center;
    font-family: 'Gamja Flower', cursive;



    @media only screen and (max-width: 768px) {
      font-size: 0;
    }
  }

  &-menu {
    display: flex;
    flex: 2;
    order: 1;

  }

  &-button {
    border: none;
    outline-style: none;
    background-color: $navbar-color;
    box-shadow: none;
    margin: 0 5px 0 5px;
  }

/*  &-button:hover {
    @extend .nav-button;

  }

  &-button:active {
    @extend .nav-button;

  }*/

  &-search {
    order: 2;
    width: 100%;
    flex: 3;
    display: flex;
    align-content: center;

    @media only screen and (max-width: 768px) {
      flex: 9;
    }

    &-bar {
      display: flex;
      flex: 1;
      width: 100%;
      margin: 7px 0;
      padding: 10px;
      background-color: $input-box-color;
      border: 2px solid lighten($sunset-teal, 20);
      border-radius: 15px 0 0 15px;
      box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
      font-family: 'Roboto', sans-serif;
    }

    &-bar:focus {
      @extend .nav-search-bar;
      outline: 0;
      border: 2px solid $sunset-teal;
      font-family: 'Roboto', sans-serif;
    }

    &-button {
      margin: 7px 0;
      background-color: $input-box-color;
      border: 2px solid lighten($sunset-teal, 20);
      border-radius: 0 15px 15px 0;
      border-left: none;
      box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
      svg {
        justify-content: center;
        align-content: center;
        width: 32px;
        height: auto;
        margin-right: 5px;
      }
    }
    &-button:focus {
      @extend .nav-search-button;
      outline: 0;
      border: 2px solid $sunset-teal;
    }

  }

  &-cart {
    align-content: center;
    display: flex;
    flex: 2;
    order: 3;
    justify-content: flex-end;

    &-amount {
      height: 25px;
      width: 25px;
      background-color: transparentize($sunset-teal, 0.25);
      border-radius: 50%;
      padding: 5px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.navMenu {
  width: 20vw;
  background: $navbar-color;
  display: flex;
  justify-content: center;
  text-align: center;

  position: relative;
  z-index: 50000;

  &-content {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: none;

    position: relative;
    z-index: 50000;
  }
}
