.nav, .nav-cart, .nav-search, .nav-menu, .nav-text {
  height: 50px;
  display: flex;
  border: none;
  background: #e3e2eb;
  box-shadow: 0 2px 2px -2px black;
}
.nav-text {
  align-items: center;
  font-family: "Gamja Flower", cursive;
}
.nav-menu {
  flex: 2;
  order: 1;
}
.nav-button, .nav-button:active, .nav-button:hover {
  border: none;
  outline-style: none;
  background-color: #e3e2eb;
  box-shadow: none;
  margin: 0 5px 0 5px;
}
.nav-search {
  order: 2;
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
  flex: 3;
}
.nav-search-bar, .nav-search-bar:focus {
  display: flex;
  flex: 1;
  width: 100%;
  margin: 7px;
  padding: 10px;
  background-color: #d8efee;
  border: 2px solid #b4e0dd;
  border-radius: 15px 0 0 15px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}
.nav-search-bar:focus {
  outline: 0;
  border: 2px solid #6CC2BD;
}
.nav-cart {
  flex: 2;
  order: 3;
  justify-content: flex-end;
  align-content: flex-end;
}
.nav-cart-amount {
  height: 25px;
  width: 25px;
  background-color: rgba(108, 194, 189, 0.75);
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

.navMenu {
  background-color: white;
  width: 100px;
  height: 100px;
  position: absolute;
}

.footer {
  margin-bottom: -5rem;
  width: 100vw;
  /* Wavy Windy Grass */
  /* I find it cool that the blade nth-of-type function can be used for lots of different divs. */
  /* Sun flowers and its wind movement */
}
.footer-sky {
  background-color: #7efcd2;
  height: 15rem;
}
.footer-ground {
  height: 70px;
  display: inline-block;
  white-space: nowrap;
}
.footer-grass {
  position: absolute;
  width: 100vw;
  margin-top: -4rem;
}
.footer-blade {
  height: 6rem;
  width: 1rem;
  background-size: 300px 300px;
  background-color: #00e676;
  border-radius: 100% 0 50% 0;
  float: left;
  transform-origin: 50% 100%;
  margin-top: 0.5rem;
  margin-left: -0.5rem;
  /*   box-shadow: rgba(0,0,0, 0.25) 0.25rem 1rem 0.25rem; */
}
.footer-blade:nth-of-type(2n) {
  width: 1rem;
  transform: rotate(10deg);
  height: 5rem;
}
.footer-blade:nth-of-type(3n) {
  background-color: #00c853;
  border-radius: 0 100% 0 50%;
  height: 7rem;
  margin-top: -1rem;
  /*   transform: rotate(-10deg); */
}
.footer-blade:nth-of-type(4n) {
  border-radius: 0 100% 0 50%;
  transform: rotate(-8deg);
}
.footer-blade:nth-of-type(5n) {
  transform: rotate(4deg);
  border-radius: 0 100% 0 50%;
}
.footer-blade:nth-of-type(7n) {
  background-color: #81c784;
  border-radius: 100% 0 50% 0;
  animation: wind-seven 7s ease alternate infinite;
}
.footer-blade:nth-of-type(9n) {
  background-color: #4caf50;
  animation: wind-three 7s ease alternate infinite;
}
.footer-blade:nth-of-type(13n) {
  background-color: #66bb6a;
  height: 7.5rem;
  margin-top: -1rem;
}
.footer-blade:nth-of-type(16n) {
  width: 1rem;
  transform: rotate(-5deg);
  height: 8rem;
  margin-top: -1.5rem;
  animation: wind-five 7s ease alternate infinite;
}
.footer-blade:nth-of-type(24n) {
  transform: rotate(12deg);
  height: 7.5rem;
  margin-top: -1rem;
}
@keyframes wind-three {
  100% {
    transform: rotate(5deg);
  }
}
@keyframes wind-five {
  100% {
    transform: rotate(5deg);
  }
}
@keyframes wind-seven {
  100% {
    transform: rotate(7deg);
  }
}
@keyframes wave {
  /* Windy wave! I can probably make this more "modular" using the config. */
  0% {
    transform: rotate(-30deg);
  }
  10% {
    transform: rotate(55deg);
  }
  15% {
    transform: rotate(35deg);
  }
  20% {
    transform: rotate(55deg);
  }
  25% {
    transform: rotate(45deg);
  }
  30% {
    transform: rotate(60deg);
  }
  35% {
    transform: rotate(45deg);
  }
  40% {
    transform: rotate(55deg);
  }
  46% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(55deg);
  }
  55% {
    transform: rotate(45deg);
  }
  60% {
    transform: rotate(58deg);
  }
  65% {
    transform: rotate(42deg);
  }
  70% {
    transform: rotate(55deg);
  }
  75% {
    transform: rotate(40deg);
  }
  80% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
.footer-sunflower {
  height: 8rem;
  width: 8rem;
  background-size: 8rem;
  margin-top: -8rem;
  margin-right: -8rem;
  background-image: url("../images/icons8-sunflower.svg");
  background-repeat: no-repeat;
  float: left;
  overflow: hidden;
  transform-origin: 50% 100%;
  animation: wind-three 7s ease alternate infinite;
}
.footer-sunflower:nth-of-type(2n) {
  margin-top: -7.25rem;
  margin-right: -8rem;
  animation: wind-seven 7s ease alternate infinite;
}
.footer-sunflower:nth-of-type(3n) {
  margin-top: -7.5rem;
  margin-right: -8rem;
  animation: wind-five 7s ease alternate infinite;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*# sourceMappingURL=style.css.map */
