// Sunset Colors
$sunset-teal: #6CC2BD;
$sunset-blue: #5A809E;
$sunset-purple: #7C79A2;
$sunset-red: #f57d7c;
$sunset-orange: #FFC1A6;
$sunset-tan: #efb975;

//footer
$grass-green: #66CDAA;
$sky-blue: #7efcd2;

$font-stack: Arial, Helvetica, sans-serif;
$navbar-color: lighten($sunset-purple,35);
$input-box-color: lighten($sunset-teal,30);

//Hero Image
$hero-button-color: #A9A9A9;


@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');